<div class="row">
  <div class="span8 offset2 contain">
    <header>
      <h2>Sign up</h2>
    </header>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
          :html => { :class => "form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true, "check-email-exists" => true %>
          <span class="check-email"></span>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password, "check-password-length" => true %>
          <span class="password-length-message"></span>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password_confirmation, "match-passwords" => true %>
          <span class="matching-passwords"></span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit "Sign up", :class => "btn" %>
          <div class="reg-forgot-links">
            <br/>
            <%= link_to "Sign in", new_session_path(resource_name) %> | 
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          </div>
        </div>  
      </div>
    <% end %>

  </div>
</div>
